body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgb(224, 92, 66);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid black;
}

h2 {
    text-transform: uppercase;
    color: rgb(224, 92, 66);
}

a {
    text-decoration: none;
}

code {
    color: rgb(224, 92, 66);
    padding: 10px;
    font-size: 15px;
}

.text-center {
    text-align: center;
}